<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script src="components/loader.js"></script>
  <script src="script.js"></script>

  <link rel="stylesheet" href="components/loader.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="MyApp">

    <ons-page>
        <!-- ツールバー -->
        <ons-toolbar>
            <!-- ツールバー左 -->
            <div class="left" ng-controller="BackController">
                <!-- 戻るボタン -->
                <!-- 画面スタックが1件以上ある場合のみ、アイコンを表示する -->
                <ons-back-button ng-show="$root.pages.length > 0" ng-click="backNavi();">
                    Back
                </ons-back-button>
            </div>
            <!-- ツールバー真ん中 -->
            <div class="center" style="text-align: center;">
                [Back]
            </div>
            <!-- ツールバー右 -->
            <div class="right">
                <!-- 何も記載しない場合は、空文字を入れる。（入れないとセンタリングレイアウトがずれる） -->
                &nbsp;
            </div>              
        </ons-toolbar>
        <!-- コンテンツ部分 -->
        <div ui-view></div>
        <!-- ナビゲーター（実際には表示しない） -->
        <ons-navigator var="navi">
        </ons-navigator>
    </ons-page>

    <!-- 初期表示画面 -->
    <ons-template id="main.html">
    	<ons-page ng-class="contents">
	        <ons-button ui-sref="page-A">pageA</ons-button>
    	</ons-page>
    </ons-template>

    <ons-template id="pageA.html">
    	<!-- navigatorに詰めるHTMLはons-pageタグで囲む -->
    	<ons-page ng-class="contents">
	        <div>
	            pageAだよ
	
	            <ul>
	                <li><a ui-sref="page-A-1">pageA-①</a></li>
	                <li><a ui-sref="page-A-2">pageA-②</a></li>
	            </ul>
	            
	            pageAの入れ子だよ
	
	            <ul>
	                <li><a ui-sref=".page-A-sub1">pageA-sub①</a></li>
	                <li><a ui-sref=".page-A-sub2">pageA-sub②</a></li>
	            </ul>
	            
	            <div ui-view></div>
	        </div>
    	</ons-page>
    </ons-template>
    
    <ons-template id="page-A-sub1.html">
    	pageAの入れ子①だよ
    </ons-template>
    
    <ons-template id="page-A-sub2.html">
    	pageAの入れ子②だよ
    </ons-template>

    <ons-template id="pageA-1.html">
    	<ons-page ng-class="contents">
	        <div>
	            pageA-①だよ
	
	            <ul>
	                <li><a ui-sref="page-A-1-1">pageA-①-①</a></li>
	                <li><a ui-sref="page-A-1-2">pageA-①-②</a></li>
	            </ul>
	        </div>
        </ons-page>
    </ons-template>

    <ons-template id="pageA-2.html">
    	<ons-page ng-controller="PageA2Controller" ng-class="contents">
	        値受け渡し
	        
			<p>
				<ons-input modifier="underbar" ng-model="sample" placeholder="テストデータ" float></ons-input>
			</p>
			
	        <hr>
	        pageA-②だよ
	
	        <ul>
	            <li><ons-button ng-click="jump('page-A-2-1');">pageA-②-①</ons-button> そのまま表示</li>
	            <li><ons-button ng-click="jump('page-A-2-2');">pageA-②-①</ons-button>　計算表示</li>
	        </ul>
	        
        </ons-page>
    </ons-template>

    <ons-template id="pageA-1-1.html">
    	<ons-page ng-class="contents">
	        pageA-①-①だよ        
        </ons-page>
    </ons-template>

    <ons-template id="pageA-1-2.html">
    	<ons-page ng-class="contents">
	        pageA-①-②だよ        
        </ons-page>
    </ons-template>

    <ons-template id="pageA-2-1.html">
    	<ons-page ng-controller="PageA21Controller" ng-class="contents">
	        pageA-②-①だよ
	        
	        <p>{{sample}}</p>
    	</ons-page>
    </ons-template>

    <ons-template id="pageA-2-2.html">
    	<ons-page ng-controller="PageA22Controller" ng-class="contents">
	        pageA-②-②だよ        
	        
	        <p>{{result}}</p>
        </ons-page>
    </ons-template>

</body> 
</html>